@font-face {
    font-family: 'Stolen Love';
    src: url('../font/stolen_love.otf') format('opentype');
    font-display: swap;
}

#headerMain {
    font-family: 'Stolen Love', Arial, sans-serif;
}

#tabTitle {
    font-family: 'Stolen Love', Arial, sans-serif;
}

@font-face {
    font-family: 'Kaewpet';
    src: url('../font/kaewpet.ttf') format('truetype');
    font-display: swap;
}

#headerSub {
    font-family: 'Kaewpet', Arial, sans-serif;
    position: relative;
    top: -5pt;
}

@font-face {
    font-family: 'Niconne Regular';
    src: url('../font/niconne_regular.ttf') format('truetype');
    font-display: swap;
}

#headerDate {
    font-family: 'Niconne Regular', Arial, sans-serif;
}

#headers {
    font-family: 'Niconne Regular', Arial, sans-serif;
}

@font-face {
    font-family: 'Moon Time';
    src: url('../font/moon_time.ttf') format('truetype');
    font-display: swap;
}

#navBar a {
    font-family: 'Moon Time', Arial, sans-serif;
    font-size: 24pt;
    width: 25%;
    font-weight: bold;
}

@font-face {
    font-family: 'Alice';
    src: url('../font/alice.ttf') format('truetype');
    font-display: swap;
}

#bodyFont {
    font-family: 'Alice', Arial, sans-serif;
}

.invitation {
    font-family: 'Alice', Arial, sans-serif;
}

@font-face {
    font-family: 'Eyesome Script';
    src: url('../font/eyesome_script.otf')
}

body,
html {
    height: 100%;
    background-color: #E3D7D1
}

.bgimg,
.bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.bgimg {
    background-image: url("./image/header_img.jpg")
}

.bgimg2 {
    background-image: url("https://www.w3schools.com/w3images/flowers.jpg")
}

a {
    text-decoration: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: #ffffff;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

.modal-content h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.modal-content button {
    background-color: #C1A37F;
    /* Gold color */
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #b38341;
}

@media (max-width:380px) {
    #navBar a {
        font-size: 18pt;
    }

    .time-box {
        text-align: center;
        border: 2px solid #e47a2e;
        padding: 20px;
        border-radius: 10px;
        width: 70px;
        color: #111d35;
    }

    .time-box span {
        font-size: 1.5rem;
        display: block;
        margin-bottom: 10px;
    }

    .time-box p {
        font-size: 0.4rem;
        margin: 0;
    }
}

@media (min-width: 381px) and (max-width:600px) {
    #navBar a {
        font-size: 18pt;
    }

    .time-box {
        text-align: center;
        border: 2px solid #e47a2e;
        padding: 20px;
        border-radius: 10px;
        width: 80px;
        color: #111d35;
    }

    .time-box span {
        font-size: 1.5rem;
        display: block;
        margin-bottom: 10px;
    }

    .time-box p {
        font-size: 0.5rem;
        margin: 0;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    #navBar a {
        font-size: 24pt;
    }

    .time-box {
        text-align: center;
        border: 2px solid #e47a2e;
        padding: 20px;
        border-radius: 10px;
        width: 120px;
        color: #111d35;
    }

    .time-box span {
        font-size: 2.5rem;
        display: block;
        margin-bottom: 10px;
    }

    .time-box p {
        font-size: 1rem;
        margin: 0;
    }
}

@media (min-width:993px) {
    #navBar a {
        font-size: 32pt;
    }

    .time-box {
        text-align: center;
        border: 2px solid #e47a2e;
        padding: 20px;
        border-radius: 10px;
        width: 150px;
        color: #111d35;
    }

    .time-box span {
        font-size: 3.5rem;
        display: block;
        margin-bottom: 10px;
    }

    .time-box p {
        font-size: 1.5rem;
        margin: 0;
    }
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.countdown {
    display: flex;
    gap: 20px;
}