@font-face {
    font-family: 'Stolen Love';
    src: url('../font/stolen_love.otf') format('opentype');
    font-display: swap;
}

#headerMain {
    font-family: 'Stolen Love', Arial, sans-serif;
}

#tabTitle {
    font-family: 'Stolen Love', Arial, sans-serif;
}

@font-face {
    font-family: 'Kaewpet';
    src: url('../font/kaewpet.ttf') format('truetype');
    font-display: swap;
}

#headerSub {
    font-family: 'Kaewpet', Arial, sans-serif;
    position: relative;
    top: -5pt;
}

@font-face {
    font-family: 'Niconne Regular';
    src: url('../font/niconne_regular.ttf') format('truetype');
    font-display: swap;
}

#headerDate {
    font-family: 'Niconne Regular', Arial, sans-serif;
}

#headers {
    font-family: 'Niconne Regular', Arial, sans-serif;
}

@font-face {
    font-family: 'Moon Time';
    src: url('../font/moon_time.ttf') format('truetype');
    font-display: swap;
}

#navBar a {
    font-family: 'Stolen Love', Arial, sans-serif;
    width: 25%;
    font-weight: bold;
}

@font-face {
    font-family: 'Alice';
    src: url('../font/alice.ttf') format('truetype');
    font-display: swap;
}

#bodyFont {
    font-family: 'Alice', Arial, sans-serif;
}

.invitation {
    font-family: 'Alice', Arial, sans-serif;
}

@font-face {
    font-family: 'Eyesome Script';
    src: url('../font/eyesome_script.otf')
}

@font-face {
    font-family: 'Lancelot Regular';
    src: url('../font/lancelot_regular.ttf') format('truetype');
    font-display: swap;
}

#weddingDetails {
    font-family: 'Lancelot Regular', Arial, sans-serif;
}

body,
html {
    height: 100%;
    background-color: #E3D7D1
}

.bgimg,
.bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.bgimg {
    background-image: url("./image/header_img.jpg")
}

.bgimg2 {
    background-image: url("https://www.w3schools.com/w3images/flowers.jpg")
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    visibility: hidden;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: #ffffff;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

.modal-content h1 {
    margin-bottom: 20px;
    color: #333;
}

.modal-content button {
    background-color: #C1A37F;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #b38341;
}

.time-box {
    text-align: center;
    border: 2px solid #D3A5A5;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    color: #000;
}

.time-box span {
    display: block;
    margin-bottom: 10px;
}

.time-box p {
    margin: 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.countdown {
    display: flex;
    gap: 20px;
}

/****************************************************/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px 20px;
    color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: none;
}

.menu-icon {
    font-size: 32px;
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    color: #000;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

@media screen and (max-width: 992px) {
    .logo {
        display: inline-block;
        font-weight: bold;
    }

    .navbar {
        justify-content: space-between;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        bottom: 66px;
        right: 0;
        background: rgba(255, 255, 255, 0.5);
        width: 150px;
        padding: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 2px 0;
    }

    #registryimg {
        width: 100%;
    }
}

.sponsors::before,
.sponsors::after,
.weddingInfo .row::before,
.weddingInfo .row::after {
    content: none !important;
    display: none !important;
}

.chat-button {
    position: fixed;
    bottom: calc(12vh + 10px);
    left: 20px;
    background-color: #E3D7D1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
}

.chat-button img {
    width: 28px;
    height: 28px;
}